
<%- include("partials/header"); -%>

<div class="post-content">
  <h1><%=title%></h1>
  <p><%=content%></p>
</div>
  
  <img class="post-img" src = <%= url %> >

  <div class = 'comment'>
    <h3 align = 'center'>Submit a Review</h3>
    
      <form class="" action="/posts/:postId" method="post">
        <div class="form-group">
          <label>UserName</label>
          <input class="form-control" type="text" name="username">
          <label>Comment</label>
          <textarea class="form-control" name="reviewBody" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name = "postid" value = <%= postid %> > Publish</button>
      </form>
    

    
    <div class = 'comment'>
      <h3 align = "center">Reviews</h3>
      <% reviews.forEach(function (review) { %>
        <h4><%= review.username %></h4>
        <p> <%= review.comment %> </p>        
      <% }) %>
    </div>

  </div>

<%- include("partials/footer"); -%>
